<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" >

      	<test name="Home Page">

		<groups>
			<run>
				<include name="SmokeTest"/>
				<!-- <include name="RegressionTest"/> -->
			</run>
		</groups>

		<classes>
			<class name="Suites.Sanity_1"></class>
		</classes>
	</test>     
	
	
</suite> 
